.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}

h1{
    color: #ffffff;
    font-size: 3rem;
    text-align: center;
    text-shadow: 6px 9px 7px black;
}

.textName {
    color: #0a0101;
    font-size: .80rem;
    text-align: center;
    font-weight: bold;
}

.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border: .5rem solid #ffffff;
    border-radius: 1rem;
    color: #fff;
    cursor: pointer;
    box-shadow: 10px 5px 5px black;
    transition: transform .35s;
}

.pokemon:hover {
    transform: scale(1.1);
}

.modal-content .pokemonDetails {
    display: flex;
    flex-direction: column;
    margin: 1.1rem;
    padding: 1rem;
    border-radius: 1rem;
    color: #fff;
    cursor: pointer;
    transition: transform .3s;  
}

.pokemonDetails:hover {
    transform: scale(1.1);
}

.pokemon .number {
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    text-transform: capitalize;
    color: #fff;
    margin-bottom: .25rem;
    font-size: 1rem;
    text-shadow: 2px 1px 4px black;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    color: #fff;
    padding: .45rem .7rem;
    margin: .45rem 0;
    font-size: .700rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center; 
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
    transition: transform .3s;
}

.pokemon .detail img:hover {
    transform: scale(1.5);
}

.modal-page {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 80%;
    max-width: 400px;
    max-height: 600px;
    margin: auto;
    transition-duration: 0.5s;
    transform: scale(1.1);
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

/* Modal Content */
.modal-content {
    background-color: rgb(203,69,40);
    background: linear-gradient(176deg, rgba(203,69,40,1) 0%, rgba(177,4,1,1) 35%, rgba(177,4,1,1) 100%);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 1rem; 
  }
  
  /* The Close Button */
  .close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #6319d1;
    text-decoration: none;
    cursor: pointer;
  }

.modal-content .number {
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.modal-content .name {
    text-transform: capitalize;
    color: #fff;
    margin-bottom: .25rem;
    font-size: 1rem;
    text-shadow: 2px 1px 4px black;
}

.modal-content .fullDetail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.modal-content .fullDetail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.modal-content .fullDetail .types .type {
    color: #fff;
    padding: .45rem .7rem;
    margin: .45rem 0;
    font-size: .700rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.modal-content .fullDetail img {
    max-width: 100%;
    height: 125px;
    transition: transform .2s;
}

.fullDetail img:hover {
    transform: scale(1.2);
}

.modal-content .detailsBody {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: row;
    justify-content: center;
    padding: 0.7rem;
    background-color: #ffffff21;
    border-radius: 1rem;
    margin: .2rem;
    transition: transform .2s;
}

.detailsBody:hover {
    transform: scale(1.1);
}

.modal-content .detailsBodyData {
    justify-content: center;
    padding: 0.7rem;
    background-color: #ffffff21;
    font-size: 1.2rem;
    border-radius: 1rem;
    text-transform: capitalize;
    margin: .2rem;
    transition: transform .2s;
}
.detailsBodyData:hover {
    transform: scale(1.1);
    text-align: center
}

.modal-content .detailsBody span {
    padding: .25rem .5rem;
    margin: .25rem 0;
    justify-content: space-between;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.detailsBody span:hover {
    transform: scale(1.1);
}

.modal-content .detailsBodyData span {
    margin: .25rem 0;
    font-size: .9rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
    transition: transform .2s;
}

.detailsBodyData span:hover {
    transform: scale(1.1);
}

  #buttonDetails {
    padding: .55rem 2rem;
    margin: .30rem 0;
    font-size: .900rem;
    color: #fff;
    background-color: rgb(177,4,1);
    background: linear-gradient(180deg, rgba(177,4,1,1) 30%, rgba(0,0,0,1) 50%, rgba(255,255,255,1) 100%);
    border: .2rem solid #000000;
    border-radius: 1rem;
    cursor: pointer
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: 0.55rem 2.1rem;
    margin: .55rem 0;
    font-size: .700rem;
    color: #000000;
    background-color: #ffffff;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}